In [4]:
#Tuliskan Hasil Dari Ekspresi berikut:
#a
a = 15 % 5
print("a. 15 mod 5 =", a)

a. 15 mod 5 = 0

In [2]:
#b
b = 12 + 3 * 5 == 75
print("b. 12 + 3*5 == 75 =", b)

b. 12 + 3*5 == 75 = False

In [5]:
#c
c = "PML" + "15523"
print('c. "PML" + "15523" =', c)

c. "PML" + "15523" = PML15523

In [10]:
#d
try:
    d = "100" + 234
except TypeError as e:
    d = str(e)
print('d. "100" + 234 =', d)

d. "100" + 234 = can only concatenate str (not "int") to str

In [7]:
#e
e = ((11 % 3) + 2) != 8 / 2
print("e. ((11%3) + 2) != 8/2 =", e)

e. ((11%3) + 2) != 8/2 = False

In [16]:
# Ekspresi Boolean dengan Variabel
p = 11
q = 5
r = 4
#Diberikan 3 buah variabel p = 11, q = 5, dan r = 4 tentukanlah ekspresi Boolean berikut:
#a
expr_a = (p - r) == (r + q)
print("a. ((p - r) == (r + q)) =", expr_a)

a. ((p - r) == (r + q)) = False

In [17]:
#b
expr_b = ((p % 3) + q) != (r % 2)
print("b. (((p % 3) + q) != (r % 2)) =", expr_b)

b. (((p % 3) + q) != (r % 2)) = True

In [18]:
#c
expr_c = (q - 3) == (p % 2 + q)
print("c. ((q - 3) == (p % 2 + q)) =", expr_c)

c. ((q - 3) == (p % 2 + q)) = False

In [19]:
#d
expr_d = (r + q) != ((p * 2) % 2)
print("d. ((r + q) != ((p * 2) % 2)) =", expr_d)

d. ((r + q) != ((p * 2) % 2)) = True

In [20]:
#e
expr_e = ((q % 3) + p) > (r % 2)
print("e. ((((q % 3) + p) > (r % 2))) =", expr_e)

e. ((((q % 3) + p) > (r % 2))) = True

In [21]:
#f
expr_f = (r + p) <= (q * 5)
print("f. (((r + p)) <= (q * 5)) =", expr_f)

f. (((r + p)) <= (q * 5)) = True

In [1]:
#Isian Singkat
#1
print("1. Honey" + "Boo" * 3)

1. HoneyBooBooBoo

In [2]:
#2
capitals = {}
capitals['Murica'] = 'Warshington'
capitals['Germany'] = 'Bonn'
capitals['France'] = 'Paris'
capitals['Engalnd'] = 'London'
capitals['Germany'] = 'Berlin'

print("2. capitals['Germany'] =", capitals['Germany'])

2. capitals['Germany'] = Berlin

In [3]:
#3
a = "23"
b = 9
try:
    print("3.", a + b)
except TypeError as e:
    print("3. Error:", e)

3. Error: can only concatenate str (not "int") to str

In [4]:
#4
letters = ["a", "b", "o", "c", "p"]
print("4a. letters[1] =", letters[1])
print("4b. letters[len(letters)-2] =", letters[len(letters)-2])
print("4c. letters + ['x'] =", letters + ["x"])
print("4d. letters =", letters)

4a. letters[1] = b
4b. letters[len(letters)-2] = c
4c. letters + ['x'] = ['a', 'b', 'o', 'c', 'p', 'x']
4d. letters = ['a', 'b', 'o', 'c', 'p']

In [5]:
#5
print("5. ' '.join('h a n d s'.split()) =", ' '.join('h a n d s'.split()))

5. ' '.join('h a n d s'.split()) = h a n d s

In [6]:
#6
import json
json_string = '[["a","b","c"],["d","e","f"],["g","h","i"]]'
print("6. json.loads(json_string)[1][2] =", json.loads(json_string)[1][2])

6. json.loads(json_string)[1][2] = f

In [7]:
#7
def pembagi_indeks1(nums, divisor):
    for i in range(len(nums)):
        if nums[i] % divisor == 0:
            return i
    return -1

vals = [101, 4, 12, 24]
print("7. pembagi_indeks1(vals, 2) =", pembagi_indeks1(vals, 2))
vals_new = [100, 66, 55, 64, 41, 35, 18, 64]
print("7. pembagi_indeks1(vals_new, 5) =", pembagi_indeks1(vals_new, 5))

7. pembagi_indeks1(vals, 2) = 1
7. pembagi_indeks1(vals_new, 5) = 0

In [8]:
#8
def mystery(n, m):
    p = 0
    e = 0
    while p < n:
        p += 1
        e += m
    return p

print("8. mystery(4, 3) =", mystery(4, 3))
n = 4
m = 3
p = 0
e = 0
print("Pelacakan nilai p dan e:")
print("p\te")
print("=====================")
while p < n:
    p += 1
    e += m
    print(p, "\t", e)

8. mystery(4, 3) = 4
Pelacakan nilai p dan e:
p	e
=====================
1 	 3
2 	 6
3 	 9
4 	 12